.landing{
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 80%;
    height: 85vh;
    font-family: 'Lato', sans-serif;
    z-index: 1;
}
.profile{
    margin-top:100px;
    margin-left: -120px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.header{
    position: absolute;
    top: 10%;
    right: 10%;
}
.logo{
    opacity: 0;
    z-index: 0;
    position: absolute;
    margin-top: -105px;
    /* margin-bottom: 380px; */
    /* justify-self: flex-end; */
    align-self: flex-end;
}
.logo-name{
    text-align: right;
    color: rgb(16, 173, 173);
    font-size: 2.5rem;
    margin-bottom: -20px;
    margin-right: 10px;
    text-shadow: 1px 1px 10px rgb(3, 3, 3);
}
.logo-title{
    margin-bottom:17px;
    text-align: right;
    color:rgb(240, 239, 239);
    font-size: 1.5rem;
    margin-right: 10px;
}
.image{
    z-index: 1;
    position: relative;
    left: 0;
    margin-left: -210px;
    margin-bottom: -11px;
}
.profile-info{
    display: flex;
    flex-direction: column;
    background: #585858a1;
    color:white;
    z-index: 1;
    position: absolute;
    transform: translate(0, 75%);
    transition: transform 1.2s cubic-bezier(.4, .4, .4, 1);
    margin-left: 120px;
    width: 300px;
    height: 340px;
    /* border-right: 2px solid rgba(155, 85, 20, 1.904);
    border-left: 2px solid rgba(155, 85, 20, 1.904); */
}
.profile-text{
    display: flex;
    flex-direction: column;
    margin-top:-15px;
}
.arrow-button{
    position: absolute;
    left: 78%;
    top: 11%;
    width: 40px;
    height: 40px;
    z-index: 2;
    color: rgb(235, 235, 235);
}
.arrow-button:hover{
    transition: .2s;
    color: rgb(235, 235, 235);
    cursor: pointer;
    transform: scale(1.1);
}
.arrow-button2{
    color: rgb(236, 236, 236);
    margin-top: 0px;
    position: absolute;
    left: 78%;
    top: 11%;
    width: 40px;
    height: 0px;
    z-index: 2;
}
.arrow-button2:hover{
    transition: all .2s;
    color: rgb(235, 235, 235);
    cursor: pointer;
    transform: scale(1.1);
}
.arrow-button3{
    color: rgb(245, 245, 245);
    margin-top: 0px;
    position: absolute;
    left: 78%;
    top: 11%;
    width: 0px;
    height: 40px;
    z-index: 2;
}
.arrow-button3:hover{
    transition: all .2s;
    color: rgb(235, 235, 235);
    cursor: pointer;
    transform: scale(1.1);
}
.profile-stuff{
    display: flex;
    flex-direction: column;
    margin-right: 25px;
    padding: 5px;
    background-color: rgb(17, 143, 143);
    margin-top: 5px;
    margin-bottom: -130px;
    align-self: center;
    width: 145px;
    height: 145px;
    border: 10px solid  rgba(155, 85, 20, 1);
    border-radius: 100%;
}
.stuff-info{
    color: rgb(70, 70, 70);
    font-size: 1rem;
    margin-bottom: 0px;
    margin-top:32px;
}
.email{
    margin-top: 15px;
    text-decoration: none;
    color: rgb(236, 236, 236);
    font-size: .83em;
    font-weight: 700;
    margin-left:0px;
    margin-bottom:-15px;
}
.skew{
    background: rgba(155, 85, 20, 1.904);
    margin-top: -15px;
    transform: skew(0deg, 5.4deg);
    height: 30px;
    width: 100%
}
.bio{
    padding: 5px;
    margin-left:5px;
    letter-spacing: .02cm;
    text-align: left;
    font-size: 1.1rem;
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: 400;
}
.stats{
    border-top: 30px solid rgba(155, 85, 20, 1.904);
    height: 311px;
    /* background: #195e5c56; */
    width: 0px;
    background: #585858a1;
    max-width: 1000px;
    align-self: flex-end;
    margin-left: -330px;
}
.stat-info{
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: rgb(236, 236, 236);
}
.name{
    font-size: 1.5rem;
    margin-right: 19px;
    margin-bottom: -15px;
}
.title{
    width: 155px;
    padding-top: 5px;
    align-self: center;
    margin-right: 17px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.icon-div{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    bottom: -150px;
    margin-right: 18px;
}
.icons{
    position: relative;
    bottom: 0;
    justify-self: flex-end;
    color: white;
    align-self: flex-end;
    width: 42px;
    height: 42px;
}
.icons:hover{
    color: rgb(17, 143, 143);
    box-shadow: 0 0 5px  solid rgb(252, 250, 250);
    transform: scale(1.1);
    transition: all ease-in .2s;
}
.tech-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 95%;
    margin-left: 15px;
    margin-top: -20px;
}
.tech{
    width: 8vh;
    height: 8vh;
    margin-bottom: -15px;
    /* margin-left: 20px; */
}
.tech-title{
    margin-left: 4px;
    font-size: 1rem;
}
.info-title{
    margin-top: 0px;
    margin-bottom: 35px;
    margin-left: 15px;
    text-align: left;
    padding: 5px;
    width: 95%;
    font-size: 1.4rem;
    color: white;
    border-bottom: 3px solid rgb(17, 143, 143);
}
.info-title2{
    margin-top: -14px;
    margin-left: 15px;
    margin-bottom: 20px;
    text-align: left;
    padding: 5px;
    width: 95%;
    font-size: 1.4rem;
    color: white;
    border-top: 3px solid rgb(17, 143, 143);
    /* /* border-top: 1px solid white; */
}
.button-div{
    margin-top: 20px;
    float:left;
    width: 200px;
    height: 50px;
    background-color: gray;
    text-decoration: none;
    z-index: 2;
    color: white;
    border-radius: 5px;
}

.resume{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    z-index: 2;
}
.resume:hover{
    background-color:rgb(17, 143, 143);
    cursor: pointer;
    transform: scale(1.);
    transition: all ease-in .2s;
    color: white;
}
.icons2{
    margin-right: 10px;
    width: 20px;
    height: 20px;
}


@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }