.landing{
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 100%;
    height: 90vh;
    font-family: 'Lato', sans-serif;
    z-index: 1;
    background-color: rgba(15, 110, 148, 0.096);

}
.profile{
    margin-top:100px;
    margin-left: -120px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.logo{
    opacity: 0;
    z-index: 0;
    position: absolute;
    margin-top: -105px;
    /* margin-bottom: 380px; */
    /* justify-self: flex-end; */
    align-self: flex-end;
}
.logo-name{
    text-align: right;
    color: rgb(16, 173, 173);
    font-size: 2.5rem;
    margin-bottom: -20px;
    margin-right: 10px;
    text-shadow: 1px 1px 10px rgb(3, 3, 3);
}
.logo-title{
    margin-bottom:17px;
    text-align: right;
    color:rgb(240, 239, 239);
    font-size: 1.5rem;
    margin-right: 10px;
}
.image{
    z-index: 1;
    position: relative;
    left: 0;
    margin-left: -142px;
    margin-bottom: -11px;
}
.profile-info{
    display: flex;
    flex-direction: column;
    background: #585858a1;
    color:white;
    z-index: 1;
    position: absolute;
    transform: translate(0, 75%);
    transition: transform 1.2s cubic-bezier(.4, .4, .4, 1);
    margin-left: 190px;
    width: 300px;
    height: 320px;
    border-right: 2px solid rgba(155, 85, 20, 1.904);
    border-left: 2px solid rgba(155, 85, 20, 1.904);
}
/* .profile-info:hover{
    transform: none;
} */
.arrow-button{
    position: absolute;
    left: 78%;
    top: 2%;
    width: 40px;
    height: 40px;
    z-index: 2;
    color: rgb(172, 171, 171);
}
.arrow-button:hover{
    transition: .2s;
    color: rgb(235, 235, 235);
    cursor: pointer;
    transform: scale(1.1);
}
.arrow-button2{
    color: rgb(172, 171, 171);
    margin-top: 0px;
    position: absolute;
    left: 78%;
    top: 2%;
    width: 40px;
    height: 0px;
    z-index: 2;
}
.arrow-button2:hover{
    transition: all .2s;
    color: rgb(235, 235, 235);
    cursor: pointer;
    transform: scale(1.1);
}
.profile-stuff{
    display: flex;
    flex-direction: column;
    margin-right: 25px;
    padding: 5px;
    background-color: rgba(25, 202, 202, 0.384);
    margin-bottom: -140px;
    align-self: center;
    width: 135px;
    height: 135px;
    border: 5px solid  rgba(155, 85, 20, 1);
    border-radius: 100%;
}
.stuff-info{
    color: rgb(255, 255, 255);
}
.email{
    text-decoration: none;
    color: rgb(236, 236, 236);
    font-size: .8rem;
    font-weight: 700;
    margin-left:-1px;
}
.skew{
    /* border-top-left-radius: 10px; */
    background: rgba(155, 85, 20, 1.904);
    margin-top: -15px;
    transform: skew(0deg, -5.4deg);
    height: 30px;
    width: 100.5%
}
.bio{
    padding: 5px;
    margin-left:5px;
    letter-spacing: .02cm;
    text-align: left;
    font-size: 1.1rem;
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: 400;
}
.stats{
    /* border-top-right-radius: 10px; */
    border-top: 30px solid rgba(155, 85, 20, 1.904);
    height: 319px;
    /* background: #195e5c56; */
    width: 0px;
    background: #585858a1;
    max-width: 1000px;
    align-self: flex-end;
    /* border-right: 2px solid rgba(155, 85, 20, 1.904); */
    margin-left: -324px;
}
.stat-info{
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: rgb(236, 236, 236);
}
.name{
    font-size: 1.5rem;
    margin-right: 19px;
    margin-bottom: -15px;
}
.title{
    width: 155px;
    padding-top: 5px;
    align-self: center;
    margin-right: 17px;
    margin-bottom: 10px;
}
.icon-div{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    bottom: -150px;
    margin-right: 18px;
}
.icons{
    position: relative;
    bottom: 0;
    justify-self: flex-end;
    color: white;
    align-self: flex-end;
    width: 44px;
    height: 44px;
}
.icons:hover{
    color: rgb(167, 167, 167);
    box-shadow: 0 0 5px  solid rgb(252, 250, 250);
    transform: scale(1.1);
}
.tech-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 95%;
    margin-left: 15px;
    margin-top: -20px;
}
.tech{
    width: 8vh;
    height: 8vh;
    margin-bottom: -15px;
    /* margin-left: 20px; */
}
.tech-title{
    margin-left: 4px;
    font-size: 1rem;
}
.info-title{
    margin-top: 0px;
    margin-bottom: 35px;
    margin-left: 15px;
    text-align: left;
    padding: 5px;
    width: 95%;
    font-size: 1.4rem;
    color: white;
    border-bottom: 1px solid white;
}
.info-title2{
    margin-top: -14px;
    margin-left: 15px;
    margin-bottom: 20px;
    text-align: left;
    padding: 5px;
    width: 95%;
    font-size: 1.4rem;
    color: white;
    border-top: 1px solid white;
}


@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }