.main{
    width: 100%;
    height: 100vh;
    background-color: #3d3d3d;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    font: koho;
    font-weight: 400;
}
.opac{
    top: 0;
    /* bottom: 0;
    right: 0;
    left: 0;
    position: fixed; */
    width: 100%;
    height: 100vh;
    background-color:rgba(36, 36, 36, 0.644);
    z-index: 2;
}
.fall{
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 0;
    width: 100%;
    height: 100vh;
    opacity: 1;
}
.logobig{
    /* position: relative; */
    margin-top: 15vh;
    opacity: 1;
    width: 450px;
    height: 450px;
}
.container{
    margin-top: 16px;
    width: 100%;
    max-width: 1050px;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.bar{
    margin: auto;
    margin-top: -11px;
    width: 3px;
    height: 50px;
    background-color: #95531E;
}
.box1{
    margin: auto;
    color: rgb(51, 155, 153);
    font-family: Koho;
    font-weight: 400;
    font-size: 4.2rem;
    border-top: 3px solid #95531E;
    /* border-bottom: 3px solid #95531E; */
    width: 400px;
}
.welcome{
    margin-top: -10px;
    margin-bottom: 5px;
    border-radius: 0px;
}
@keyframes temp {
    50% {box-shadow: 3px 3px 25px 5px #00ffffc2;}
  }