.work-container{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    z-index: 0;
    background-color:rgba(73, 73, 73, 1);
    background-image: linear-gradient(rgb(99, 99, 99), rgb(87, 87, 87));
    width: 100%;
    height: 700px;
    font-family: lato;
}
.project-header{
    box-shadow: 1px 5px 5px 2px rgb(46, 46, 46);
    padding: 10px;
    text-align: right;
    background-color: #11807F;
    background-image: linear-gradient(rgb(10, 99, 99),#11807F);
    transform: translate(-85%,0);
    width: 900px;
    margin-top: 30px;
    position: relative;
    top: -1.5%;
    left: 10%;
    align-self: flex-start;
    color: rgb(226, 226, 226);
    font-family: Koho;
    font-weight: 400;
    font-size: 3rem;
}
.slide-div1{
    background-color:#218180;
    border-radius: 5px;
    border: 1px solid rgb(65, 65, 65);
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: space-between;
    align-content: center;
    position: absolute;
    top: 23%;
    left: 7%;
    transition: all ease-in .5s;
    width: 400px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    color: rgb(230, 230, 230);
    height: 459px;
    z-index: 1;

}
.slide-div2{
    background-color:#218180;
    border-radius: 5px;
    border: 1px solid rgb(65, 65, 65);
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: space-between;
    align-content: center;
    position: absolute;
    top: 23%;
    right: 7%;
    transition: ease-in-out .5s;
    width: 400px;
    color: rgb(230, 230, 230);
    height: 459px;
    z-index: 3;

}
.slide-div3{
    background-color:#218180;
    border-radius: 5px;
    border: 1px solid rgb(65, 65, 65);
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: space-between;
    align-content: center;
    position: relative;
    top: -35px;
    transition: ease-in-out .5s;
    width: 400px;
    color: rgb(230, 230, 230);
    height: 459px;
    z-index: 2;

}
.slide-div1:hover {
    transform: translate(0, -2%);
    transition: all ease-in .3s;
    box-shadow: 1px 5px 5px 2px rgb(46, 46, 46);
    z-index: 4;
}
.slide-div2:hover{
    transform: translate(0 , -2%);
    transition: all ease-in .3s;
    box-shadow: 1px 5px 5px 2px rgb(46, 46, 46);
    z-index: 4;
}
.slide-div3:hover{
    transform: translate(0 , -2%);
    transition: all ease-in .3s;
    box-shadow: 1px 5px 5px 2px rgb(46, 46, 46);
    z-index: 4;
}
.visited{
    text-decoration: none;
}
.title-header{
    text-decoration: none;
    padding-top: 5px;
    height: 40px;
    background-color:#9A551E;
    font-weight: 400;
    align-self: center;
    padding-bottom: 5px;
    color: white;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 0px;
    font-family: Montserrat;
    font-size: 2rem;
}
.tech-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.tech-desc{
    z-index: 4;
    color: rgb(235, 235, 235);
    justify-self: flex-end;
    border-bottom: 1px solid rgb(179, 179, 179);
    padding-bottom: 10px;
    width: 95%;
    margin-top: 302px;
    align-self: center;
    font-weight: 400;
    font-size: 1.1rem;
    
}
.list-tech{
    width: 400px;
    margin-bottom: 50px;
    margin-left: 0px;
}
.tech-title1{
    background-color: rgb(245, 245, 245);
    font-size: .8rem;
    color: gray;
    opacity: 0;
    text-align: center;
    width: 70px;
    border-radius: 3px;
    padding: 5px 0;
    position: relative;
    z-index: 10;
    width: 90px;
    left: 4%;
    /* box-shadow: 0px 0px 5px 1px rgba(27, 27, 27, 0.521); */
    margin-top: -80px;
}
.tech-title2{
    background-color: rgb(245, 245, 245);
    font-size: .8rem;
    color: gray;
    opacity: 0;
    text-align: center;
    width: 70px;
    border-radius: 3px;
    padding: 5px 0;
    position: relative;
    z-index: 10;
    width: 90px;
    left: 15%;
    margin-top: -80px;
    /* box-shadow: 0px 1px 5px 1px rgba(46, 46, 46, 0.637); */
}
.work-icon{
    margin-top: -8px;
    background-color: #222228;
    width: 40px;
    height: 40px;
    border: 3px solid #9A551E;
    border-radius: 100%;
}
.work-icon:hover{
    transform: translate(0 , -2%);
    transition: all ease-in-out .5s;
    box-shadow: 0px 3px 5px 2px rgb(46, 46, 46);
    z-index: 4;
}
.work-icon-div:hover .tech-title1{
    opacity: 1;
    transition: all ease-in .3s;
    transition-delay: .4s;
}
.work-icon-div:hover .tech-title2{
    opacity: 1;
    transition: all ease-in .3s;
    transition-delay: .4s;
}
.slides{
    margin: auto;
    position: absolute;
    top: 10.7%;
    left: 0%;
    transition: ease-in all .5s;
    width: 400px;
    height: 300px;
}
.slidesOne{
    transition: ease-in all .5s;
    margin: auto;
    position: absolute;
    top: 10.7%;
    right: 0%;
    width: 400px;
    height: 300px;
}
.slides3{
    transition: ease-in all .5s;
    margin: auto;
    position: absolute;
    top: 10.8%;
    right: 0%;
    width: 400px;
    height: 300px;
}
